<div class="fondo">
    <div class="cuestionario" *ngIf="this.DatosService.emergente == 'teamRocket'">
        Responde a las siguientes preguntas
        <button (click)="DatosService.cambioEmergente('pregunta1')">siguiente</button>
    </div>
    <div class="cuestionario" *ngIf="this.DatosService.emergente == 'pregunta1'">
        <div class="imagen" [ngStyle]="{'background-image': this.DatosService.listaPokemonsVisibles[0].urlSprite}"></div>
        Cómo se llama este bicho
        <ul>
            <li *ngFor="let pregunta of preguntas['preguntaNombre'] "><button (click)="respuesta(pregunta.toString(), 1)">{{pregunta}}</button></li>
        </ul>
    </div>
    <div class="cuestionario" *ngIf="this.DatosService.emergente == 'pregunta2'">
        <div class="imagen" [ngStyle]="{'background-image': this.DatosService.listaPokemonsVisibles[1].urlSprite}"></div>
        Cuál es el peso medio de este bicho
        <ul>
            <li *ngFor="let pregunta of preguntas['preguntaPeso']"><button (click)="respuesta(pregunta.toString(), 2)">{{pregunta}}</button></li>
        </ul>
    </div>
    <div class="cuestionario" *ngIf="this.DatosService.emergente == 'pregunta3'">
        <div class="imagen" [ngStyle]="{'background-image': this.DatosService.listaPokemonsVisibles[2].urlSprite}"></div>
        Cómo se llama este bicho
        <ul>
            <li *ngFor="let pregunta of preguntas['preguntaNombre']"><button (click)="respuesta(pregunta.toString(), 3)">{{pregunta}}</button></li>
        </ul>
    </div>
    <div class="cuestionario" *ngIf="this.DatosService.emergente == 'pregunta4'">
        <div class="imagen" [ngStyle]="{'background-image': this.DatosService.listaPokemonsVisibles[3].urlSprite}"></div>
        Cuánto mide este bicho
        <ul>
            <li *ngFor="let pregunta of preguntas['preguntaAltura']"><button (click)="respuesta(pregunta.toString(), 4)">{{pregunta}}</button></li>
        </ul>
    </div>
    <div class="cuestionario" *ngIf="this.DatosService.emergente == 'pregunta5'">este es tu patético resultado {{respuestasUsuario}}</div>
</div>