<div class="pokemon"  [ngStyle]="{'margin-left': posicionPokemonsX[0], 'margin-top': posicionPokemonsY[0], 'scale': pokemonScale[0],
'background-image': this.pokemonSprite[0], 'transform': direccion[0] }">
</div>

<div class="pokemon"  [ngStyle]="{'margin-left': posicionPokemonsX[1], 'margin-top': posicionPokemonsY[1], 'scale': pokemonScale[1],
'background-image': this.pokemonSprite[1], 'transform': direccion[1] }">
</div>

<div class="pokemon"  [ngStyle]="{'margin-left': posicionPokemonsX[2], 'margin-top': posicionPokemonsY[2], 'scale': pokemonScale[2],
'background-image': this.pokemonSprite[2], 'transform': direccion[2] }">
</div>

<div class="pokemon"  [ngStyle]="{'margin-left': posicionPokemonsX[3], 'margin-top': posicionPokemonsY[3], 'scale': pokemonScale[3],
'background-image': this.pokemonSprite[3], 'transform': direccion[3] }">
</div>


<!-- 
<div class="pokemon"  [ngStyle]="{'margin-left': posicionPokemonsX[3], 'margin-top': posicionPokemonsY[3], 'scale': pokemonScale[3]}">
    <img [src]="DatosService.listaPokemonsVisibles[3].urlSprite" alt="">
</div> -->
