.pokemon {
    position: absolute;
    height: 100px;
    width: 100px;
    transition: margin-left 2000ms, margin-top 2000ms, scale 2000ms, transform 0.5s;
    cursor: url(/assets/punkedex.png), auto;
    /* border: 2px solid black; */
}