.botonesSuperiores{
    float: right;
    margin-top: 20px;
    margin-right: 260px;
}

.superiores{
    position: absolute;
    z-index: 10;
    margin-top: 20px;
    margin-left: 80vh;
}

.fondo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-image: url(https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/15.png);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.pokemon {
    height: 100px;
    width: 100px;
    border: 2px solid black;
}

.contenido {
    margin: 50px;
    text-align: justify;

}

.bienvenida {
    height: 400px;
    width: 600px;
    border: 2px solid black;
    background-color: beige;
    border-radius: 20px;
    box-shadow: 10px 10px 30px;
    font-size: 30px;
    animation-name: entrada;
    animation-duration: 0.5s;
}

@keyframes entrada {
    0% {
        scale: 0;
    }

    50% {
        scale: 1.05;
    }

    100% {
        scale: 1;
    }

}

.boton {
    margin: 2px 2px 2px 2px;
    height: 30px;
    min-width: 30px;
    border-radius: 100px;
    background-color: rgb(243, 243, 195);
    box-shadow: 2px 2px 4px rgb(112, 112, 112), inset 0px 0px 2px 1px;
    border: inherit;
    font-size: 20px;
    cursor: pointer;
}

.boton:hover {
    box-shadow: 2px 2px 4px rgb(20, 20, 20), inset 0px 0px 2px 1px;
}

.boton:active {
    height: 32px;
}

.siguiente {/* 
    margin-left: 350px; */
    float: right;
}